body {
  margin: 0;
}
.home, .about, .project {
    height: 100vh;
    width: 100vw;
}
.home {
  background: url("asset/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}
.about {
  background-color: rgb(245, 243, 240);
  text-align: center;
  padding: 20px 0;
}
.project {
  background-color: rgb(248, 248, 221);
  text-align: center;
}
.individualProject {
  display: inline-block;
  height: 250px;
  width: 250px;
  border: 1px solid black;
  margin: 20px;
}
.contact {
  height: 20vh;
  width: 100vw;
}
#homeTitle, #projectTitle, #contactTitle {
  margin-top: 0;
  margin-bottom: 10px;
}
#homeContent {
  position: relative;
  top: 25%;
  max-width: 75vw;
  display: inline-block
}
#homeTitle {
  font-size: 80px;
}
#homeIntro {
  font-size: 28px;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0 ,0, 0.2)
}
#aboutContent {
  max-width: 75vw;
  text-align: center;
  display: inline-block;
}
#headshot {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
#contactTitle {
  padding: 10px;
  padding-bottom: 0;
}