body {
  margin: 0;
}
.section {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.sectionWrapper {
  max-width: 80vw;
  display: inline-block;
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
}
#home {
  background: url("asset/background.jpeg") no-repeat center center fixed;
  background-size: cover;
}
#homeContent {
  position: relative;
  top: 25%;
}
#homeTitle {
  font-size: 80px;
}
#homeIntro {
  font-size: 28px;
  padding: 18px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
#about {
  background-color: rgb(245, 243, 240);
  text-align: center;
  padding: 20px 0;
}
#about * {
  padding: 0;
  margin: 0;
}
#aboutContent * {
  margin: 10px;
}
#headshot {
  width: 150px;
  height: auto;
  border-radius: 50%;
}
#about h1 {
  font-size: 40px;
}
#about h3 {
  font-size: 25px;
}
#about p {
  font-size: 18px;
}
#project {
  background-color: rgb(248, 248, 221);
  text-align: center;
}
#projectTitle {
  padding: 10px;
}
#projectContent div {
  display: inline-block;
  height: 250px;
  width: 250px;
  margin: 20px 20px;
}
#projectContent img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  transition: .5s ease;
}
.container {
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
}
.container #cover {
  position: absolute;
  opacity: 0;
  transition: .5s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container:hover #cover {
  opacity: 1;
}
.container:hover img {
  opacity: 0.3;
}
#projectContent p {
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0;
}
#contact {
  height: 15vh;
  width: 100vw;
  background-color: rgb(47, 119, 115);
}
#contactTitle {
  padding: 10px;
  padding-bottom: 0;
  color: white;
  text-decoration: underline;
  font-size: 25px;
}
#contactLink {
  padding: 10px;
  padding-top: 0;
}
i.fa.fa-linkedin, i.fa.fa-github {
  font-size: 30px;
  color: white;
  margin: 0 10px;
}
i.fa.fa-envelope-o {
    font-size: 30px;
    color: white;
    margin-right: 10px;
}